[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-debugtoolbar = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
iexfinance = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
