<!DOCTYPE html>
<html>
<head>
    <link href="/static/style.css" type="text/css" rel="stylesheet" >
</head>

<body id="AboutMe">
    <div class="container">
		<img src="/static/imgs/about_stockify.png"></img>
        
            <div class="about-div">

                <h4>This Application was built using the following technologies:</h4>
					<hr></hr>
                    <ul class='tech-list'>
                            <li>
                                    Python 3.7
                            </li>
                            <li>
                                    Flask
                            </li>
                            <li>
                                    Jinja2
                            </li>
                            <li>
                                    HTML/CSS
                            </li>
                            <li>
                                    Bootstrap
                            </li>
                            <li>
                                    SQLAlchemy
                            </li>
                            <li>
                                    PostgreSQL
                            </li>
                            <li>
                                    IEX Cloud API
                            </li>
                            <li>
                                    Pipenv
                            </li>
                            <li>
                                    Docker
                            </li>
                            <li>
                                    VS Code
                            </li>
                            <li>
                                    Adobe Illustrator
                            </li>
                    </ul>
		    </div>
    </div>
</body>
</html>