
{% extends 'base.html' %}
{% block content %}

<div class="portfolio-container">
    <div class="left-split">
        <h1> Portfolio ${{ '%.2f' % (total_portfolio_cost / 100) }}</h1>
        <ul>
            {% for ticker_id, stock in portfolio.items() %}
                <li class='line-item {}'>
                    {{ ticker_id.upper() }} - {{ stock['quantity'] }} Shares: ${{ '%.2f' % (stock['cost'] / 100) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="right-split">
        <h1>Cash ${{ '%.2f' % (user_cash_money / 100) }}</h1>
        <form id="Purchase" class="purchase-form" action="/purchase" method="post">

            <div class="form-group">
                <input class="form-control" id="ticker_id" name="ticker_id" placeholder="Ticker Number">
            </div>

            <div class="form-group">
                <input class="form-control" id="quantity" name="quantity" placeholder="Quantity">
            </div>

            <button type="submit" class="btn btn-primary">Buy Stock</button>

        </form>
    </div>
</div>
{% endblock %}



