
<!DOCTYPE html>

<html>
    <head>
        <title>Portfolio Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap -->
        <link rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Pacifico|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <!-- Stylesheet -->
        <link rel="stylesheet"
                        href="/static/registration.css">
    </head>
    <body>
        <form id="Purchase" action="/purchase" method="post">

            <div class="form-group">
                <input class="form-control" id="ticker" name="ticker_id" placeholder="Ticker Number">
            </div>

            <div class="form-group">
                <input class="form-control" id="quantity" name="quantity" placeholder="Quantity">
            </div>

            <button type="submit" class="btn btn-primary">Buy Stock</button>

        </form>

    
    <script type="text/javascript" src="static/portfolio.js"></script>
    </body>
</html>


