<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IEX API Web App</title>

	<!-- Bootstrap -->
	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Pacifico|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
	<!-- Stylesheet -->
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>

	<div class="container-fluid">
		<div class="row">
				<div>
			<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left">
				<div>
					</div>
					<p>
					Make an account to start your stock portfolio
				</p>
			</section>
				</div>
		</div>
		<div>
			<section id="main-div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 right">
					<div id="signup-container">
						<h2 id="signup" >Sign Up Today</h2>
						<form id="registration-form" action="/sign-up" method="post" role="form" >
							<input name="email" id="email" type="text" class="form-control" placeholder="Your Username">
							<input name="password" id="password" type="password" class="form-control" placeholder="Your Password">
							<input type="submit" name="login-submit" id="register_submit" tabindex="4" class="btn" value="Sign Up">
						</form>
					</div>
			</section>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<div>
</div>
</body>
</html>
